[submodule "submodules/buildroot"]
	path = submodules/buildroot
	url = git@github.com:loss-and-quick/buildroot-flashforge-5m.git
[submodule "printer_configs/common/web"]
	path = printer_configs/common/web
	url = https://github.com/mainsail-crew/mainsail-config.git
