# If the Z offset fluctuates (due to mechanical issues, for example), 
# it can be configured so that the nozzle and load cell act as the endstop (i.e., 
# homing will be done based on the load cell).
# To do this, include this configuration in `printer.cfg` after all other includes.
# Additionally, remove/comment `position_endstop: 220` from `[stepper_z]` in `printer.base.cfg` and `Z_OFFSET_APPLY_ENDSTOP` macro from `macros.cfg`.

[stepper_z]
endstop_pin: probe:z_virtual_endstop
homing_speed: 2.0
second_homing_speed: 1.0

[force_move]
enable_force_move: True

[homing_override]
axes: xyz
gcode:
    {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}
    
    {% if "z" not in printer.toolhead.homed_axes %}
        SET_KINEMATIC_POSITION Z=0
    {% endif %}
    
    {% if printer.configfile.settings.stepper_z.position_max > printer.toolhead.position.z %}
        G0 Z5 F500
    {% endif %}

    {% if home_all or 'X' in params %}
        G28 X
        M400
    {% endif %}
    
    {% if home_all or 'Y' in params %}
        G28 Y
        M400
    {% endif %}
    
    {% if home_all or 'Z' in params %}
        LOAD_CELL_TARE
        
        {% set bed_mesh_min = printer.configfile.settings.bed_mesh.mesh_min %}
        {% set bed_mesh_max = printer.configfile.settings.bed_mesh.mesh_max %}
        
        {% set center_x = (bed_mesh_min[0] + bed_mesh_max[0]) / 2 %}
        {% set center_y = (bed_mesh_min[1] + bed_mesh_max[1]) / 2 %}
        {% set fuzz_amount = params.FUZZ_AMOUNT | default(5.0) %}
        
        {% set probe_x = center_x + (range(-100, 100) | random / 100.0 * fuzz_amount) %}
        {% set probe_y = center_y + (range(-100, 100) | random / 100.0 * fuzz_amount) %}
        
        {action_respond_info("Random probe point offset is Δmax {:.1f}mm".format(fuzz_amount))}
        {action_respond_info("Probing at: X={:.2f}, Y={:.2f}".format(probe_x, probe_y))}

        FLASHFORGE_LOAD_CELL_SET_MAX_FORCE FORCE=1500 ACTION="shutdown"
        G0 X{probe_x} Y{probe_y} F6000
        G28 Z
        M400
        FLASHFORGE_LOAD_CELL_SET_MAX_FORCE RESET=1

    {% endif %}